
<div class="card border-success rounded ms-3 m-3" style="max-width: 50rem;">
    <div class="card-header border-success text-white" style="max-width: 50rem; background-color: #316643;">
        <a href="/post/{{id}}" style="color: white; text-decoration: none; font-weight: bolder;">{{title}} </a></p>
    </div>

    <div class="card-header bg-light border-success text-dark ms-1" style="font-weight: bold;">
        {{post_content}}
    </div>
    <div class="ms-5 bg-light">
        <b>{{user.username}}</b> | 
            {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</div>
